# {{ ansible_managed }}
AuthorizedKeysFile              .ssh/authorized_keys
ChallengeResponseAuthentication no
LoginGraceTime                  30
PasswordAuthentication          no
PermitRootLogin                 no
PrintMotd                       no
PubkeyAuthentication            yes
Subsystem sftp                  /usr/lib/ssh/sftp-server
UsePAM                          yes
